[submodule "lib/capellaAPI"]
	path = lib/capellaAPI
	url = https://github.com/couchbaselabs/CapellaRESTAPIs
	branch = master
[submodule "sirius"]
	path = sirius
	url = https://github.com/couchbaselabs/sirius.git
	branch = master
[submodule "JavaDocLoader"]
	path = DocLoader
	url = https://github.com/couchbaselabs/DocLoader.git
	branch = main
